.account-links {
    text-decoration: none;
    list-style-type: none;
    color: black;
    /* padding: 8px 15px;
    width: 100px; */
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.nav-container{
    border-radius: 40px;
}

.account-active{
    background-color: rgb(70, 70, 155);
    color: white;
    transition-duration: 500ms;
}